@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-2">Hongjo's KetoBlog</h1>
    <br/>
    <br/>
    <h5>Learn & Share Ketogenic Life Styles</h5>
</div>
