@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">HONGJO's KetoBlog</h1>
    <hr/>
    <h3 class="display-4">Learn & Share Ketogenic Life Styles</h3>
</div>
