@model KetoBlog.Models.Posting
@{
    Layout = "_Layout";
}

<fieldset>

    <h1>Post</h1>

    <form asp-action="Create" asp-controller="Posting">
        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>

        <p>
            <textarea asp-for="Content" rows="10" cols="10" class="form-control" placeholder="Blog Content"></textarea>
            <span asp-validation-for="Content"></span>
        <br />
        <button type="submit">Submit</button>
    </form>
</fieldset>